.accordion{
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 0 auto;
  background-color: antiquewhite;
  border-radius: 10px;
  width: 100%;
    
}

.accordionItem{
    display: block;
    background-color: antiquewhite;
    border-radius: 10px;
    border: 2px solid rgb(13, 18, 22);
    padding: 20px;
    margin-bottom: 10px;
}